.full_view{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.componentes_curriculares{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.atividades_proximas{
    width: 20%;
    height: auto;
}

.CardHeader{
    border-bottom: 2px solid #cecece;
}

.content{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.not_found_courses{
    display: flex;
    align-items: center;
    flex-direction: column;
}