.full_view{
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.componentes_curriculares{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.atividades_proximas{
    width: 20%;
    height: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.not_found_actividades{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.CardHeader{
    border-bottom: 2px solid #cecece;
}

.content{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.not_found_courses{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.not_found_courses > h1 {
    text-align: center;
}

@media (max-width: 1100px) {
    .full_view{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .componentes_curriculares{
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .atividades_proximas{
        width: 100%;
        margin-top: 2rem;
    }
}