.full_view{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    height: 50%;
    padding: 1rem;
    border: 2px solid #343a40;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events .ant_badge_status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes_month {
    font-size: 28px;
    text-align: center;
}

.notes_month section {
    font-size: 28px;
}