.icons{
    width: 2rem;
    height: 2rem;
}

.logo{
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
}

.spaceBeetwen{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu{
    width: 120px;
}

.conteudoMenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
